#pond {
    /* 01 */
    display: flex;
    /* 02 */
    justify-content:flex-end;
    /* 03 */
    justify-content: center;
    /* 04 */
    justify-content: space-around;
    /* 05 */
    justify-content: space-between;
    /* 06 */
    align-items: end;
    /* 07 */
    justify-content: center;
    align-items: center;
    /* 08 */
    justify-content: space-around;
    align-items: end;
    /* 09 */
    flex-direction: row-reverse;
    /* 10 */
    flex-direction: column;
    /* 10 */
    flex-direction: row-reverse;
    justify-content: start;
    /* 11*/
    flex-direction: column;
    justify-content: flex-end;
    /*12*/
    flex-direction: column-reverse;
    justify-content: space-between;
    /* 13*/
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    /* 14 */
    order: 1
    /* 15 */
    order -3;
    /* 16 */
    align-self: end;
    /* 17 */
    align-self: end;
    order: 3;
    /* 18 */
    flex-wrap: wrap;
    /* 19 */
    flex-wrap: wrap;
    flex-direction: column;
    /* 20 */
    flex-flow: wrap column;
    /* 21 */
    align-content: flex-start;
    /* 22 */
    align-content: end; 
    /* 23 */
    flex-direction: column-reverse;
    align-content: center;
    /* 24 */
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}